/* Arquivo CSS */

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    min-width: 100%;
    background-color:#343a40;
    color: #ffffff;
    padding: 5px;
}

.recomendations {
    display: flex;
    flex-direction: row;
}

.recomendations-item {
    flex-grow: 1;
}
